<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<title>ZJU交流论坛教师答疑版块</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="stylesheet" type="text/css" href="../public/css/public.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/list.css" />
	<style type="text/css"></style>
	<script type="text/javascript"></script>
</head>

<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">ZJU交流论坛</div>
			<div class="nav">
				<a class="hover" href="../">首页</a>
				<a href="./publish.html">发帖</a>
				<a href="./announcement.html">发公告</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索一下~" /> <!--需要增加下拉框，按照功能进行帖子检索。待修改！！-->
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>

			<div class="login" style="width: 400px;">
			<!-- 用户信息登录判断，根据是否登录来显示不同的链接按钮。待修改！！ -->
				<?php  
				  	if(isset($_COOKIE['user'])) {  
						<a href="../model/userInfo.php">欢迎！</a> &nbsp;&nbsp;&nbsp;&nbsp;  <!--“欢迎！”需要设置超链接到用户信息页面。待修改！！-->
						<a href="../">退出</a>;
				  	}
				  	else {
						<a href="./login.html">登录</a> &nbsp;&nbsp;&nbsp;&nbsp;
						<a href="./register.html">注册</a>
				  	} 
				?>
			</div>
		</div>
	</div>

	<div style="margin-top:100px;"></div>
	<div id="position" class="auto">
		 <b><a href="../">首页</a> &gt; <a href="./list_son_教师答疑.html">教师答疑</a></b>
	</div>
	<div id="main" class="auto">
		<div id="left">
			<center><img src="../public/image/教师答疑.png" alt="教师答疑" height="80" width="80"></center><br/>
			<center><font>教师答疑</font></center>
			<div class="box_wrap">
				<center><div class="num">
				    今日帖数：<span>10</span>&nbsp;&nbsp;&nbsp;&nbsp;
					总帖数：<span>158061</span><br/>
					版主：匿名<br/>
					版面简介：学习上的难题让老师来帮你吧！
				</div></center>
				<div class="pages_wrap">
					<a class="btn publish" href="./publish.html"></a>
					<div class="pages">  <!-- 超链接未设置。待修改！！ -->
						<a>« 上一页</a>
						<a>1</a>
						<span>2</span>
						<a>3</a>
						<a>4</a>
						<a>...10</a>
						<a>下一页 »</a>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
			<div style="clear:both;"></div>

			<!-- 帖子内容展示 Php动态数据循环li。待修改！！ -->
			<ul class="postsList">
				<li>
					<div class="smallPic">
						<a href="#">
							<img width="50" height="50" src="../public/image/头像1.png">
						</a>
					</div>
					<div class="subject">
						<div class="titleWrap"><h1><a href="#">Python第三方库安装问题</a></h1></div>
						<p>
							作者：匿名&nbsp;&nbsp;&nbsp;发布时间：2020-4-26&nbsp;&nbsp;&nbsp;&nbsp;最后回复：2020-5-30
						</p>
					</div>
					<div class="count">
						<p>
							回复<br /><span>41</span>
						</p>
						<p>
							点击<br /><span>896</span>
						</p>
					</div>
					<div style="clear:both;"></div>
				</li>
			</ul>

			<div class="pages_wrap">  <!-- 超链接未设置。待修改！！ -->
				<div class="pages">
					<a>« 上一页</a>
					<a>1</a>
					<span>2</span>
					<a>3</a>
					<a>4</a>
					<a>...10</a>
					<a>下一页 »</a>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>

		<div id="right">
			<div class="classList">
				<div class="title"><h1>版面列表</h1></div>
				<ul class="listWrap">
					<li><h1><a href="./list_son_课程交流.html">- 课程交流</a></h1></li>
					<li><h1><a href="./list_son_教师答疑.html">- 教师答疑</a></h1></li>
					<li><h1><a href="./list_son_学习资源.html">- 学习资源</a></h1></li>
					<li><h1><a href="./list_son_信息资讯.html">- 信息资讯</a></h1></li>
					<li><h1><a href="./list_son_校园活动.html">- 校园活动</a></h1></li>
				</ul>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>

	<div id="footer" class="auto">
		<div class="bottom">
			<a>ZJU交流论坛</a>
		</div>
		<div class="copyright">Copyright © 2020 ZJU交流论坛 v1.1.0</div>
	</div>
</body>
</html>